@import "style2.css";
:root{
    --orange:#FFA500;
    --purple: #9C19E0;
    --deep-purple:#570861;
    --lightgray:#818181;
    --lightlightgray:#d3d3d3;
}

*{
    margin:0; padding:0;/**/
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100%;
  height:100%;
}
section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
padding-top:7rem;
    /*margin-top:120px;*/
}
#mobile{
        padding-top:7rem;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:6rem 0 3rem;
    background: #eee;
}
.heading3{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    /*margin:2rem 0;*/
    margin:6rem 0 3rem;
    margin-bottom: 2rem;
    background: #eee;
}

.heading3 span{
    color:var(--deep-purple);
}

.heading span{
    color:var(--deep-purple);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--purple);
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
    margin-left: 50px;
}


header .logo span{
    color:var(--orange);
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}
header .navbar a:hover{
    color: var(--purple);
}



#back{
    position: relative;
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--purple);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/headback.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#FFFFFF;
}

.home .content span{
    font-size: 3.5rem;
    color:#FFA500;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#FFFFFF;
    padding:1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#333;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}

.products .box-container{
    /*display: flex;
    flex-wrap: wrap;
    gap:1.5rem;*/
    display: grid;
    overflow: auto;
    grid-gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 31%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
    overscroll-behavior-inline: contain;
    -webkit-overflow-scrolling: touch;
}

.products .box-container .box{
    /*flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin: 0 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 5rem;
    border: 0.1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products .box-container .box:hover{
  transform: translateY(-1.5rem);
  z-index:100;
  box-shadow: 0px 10px var(--deep-purple);
}
/*.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
    display:flex;
    justify-content: center;
*/
.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    border-radius: 5rem;
    overflow:hidden;
}

products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--deep-purple);
    color:#fff;
}

.heart-btn{
    background: var(--deep-purple);
    color: white;
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:50%;
    height:5rem;
    font-size: 2rem;
    cursor: pointer;
}

.cart-btn{
    background: var(--deep-purple);
    color: white;
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
    height:5rem;
    font-size: 2rem;
    cursor: pointer;
}
.products .box-container .box .image .icons a:hover{
    background:#333;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 2rem;
    color:var(--deep-purple);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box:hover .content .price{
    color:var(--purple);
}
.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.cover{
    position:relative;
    display:flex;
    flex-direction: row;
}

.cover button{
    margin:0;
}
.right_button{
    position:relative;
    right:0;
    font-size:4em;
    width:200px;
}

.left_button{
    position: relative;
    left:0;
    font-size:4em;
    width:200px;
}


.right_button:hover,
.left_button:hover{
    background-color: var(--purple);
    color:white;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
    
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--orange);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--orange);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.footer{
    height:auto;
    margin-top:0;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
    text-align: center;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
    color:(--deep-purple);
}

.footer .box-container .box a:hover{
    color:var(--purple);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:var(--purple);
}

/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }
    
    header .logo{
      margin-left: 33px;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }
  .products .box-container{
    grid-auto-columns: 90%;
  }

  .products .box-container .box {
    width:250px;
  }

  .icons{
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}
.button {
  border: none;
  color: white;
 /* padding: 16px 35px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  padding:15px;
  background-color: white; 
  color: black; 
  border: 2px solid var(--deep-purple);
  margin-bottom:15px;
}

.button1:hover {
  background-color: var(--purple);
  color: white;
}
/*
/* Style the form element with a border around it */
form {
  border: 4px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: var(--orange);
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/* The Modal (background) */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*button {
  background-color:#FFA500;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 75px;
  border: none;
  cursor: pointer;
  width: 50%; 
}*/
button:hover {
 /*opacity: 0.8;*/
  background: #333;
}
.backbutton{
  background-color: #FFA500;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height:0px;
  width:175px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
    /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/*rejwnfwkmfwkfmwofkwfmwoif*/
 .fas fa-user {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    }
.dropdown:hover .dropdown-content {
    display: block;
    }
.dropdown:hover .fas fa-user {
    background-color: #3e8e41;
    }


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.no_capitalise{
    text-transform: none;
}


::-webkit-scrollbar {
  width: 2em;
  height: 1em;
}


::-webkit-scrollbar-track {
  background: var(--deep-purple);
  opacity: 0%;
  border-radius: 100vw;
  margin-block-start: 77px;

}

@media screen and (max-width: 920px) {
	::-webkit-scrollbar {
	  width: 0;
	  height: 1em;
	}
	
}


::-webkit-scrollbar-thumb {
  background:var(--purple);
  border: 0.25em solid var(--deep-purple);
  border-radius: 100vw;
  
}

::-webkit-scrollbar-thumb:hover {
  background: var(--lightgray);
}
/**/

